/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --green-gradient: linear-gradient(to right, #49c1a2, #56d798);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

h2 {
    margin-bottom: 1em;
}

button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
}

ul {
    list-style: none;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #49c1a2;
}

/* Sidebar styles */
.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 2em;
    border-right: 1px solid #ddd;
}

#addProjectBtn {
    background: var(--green-gradient);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
}

.project-list li {
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.project-list li:hover {
    background-color: #ddd;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addProjectContainer {
    display: none;
}

#addBtnContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.input-btn {
    padding: 10px;
    width: 50%;
}

#cancelProjectBtn {
    background-color: #f44336;
    color: #fff;
}

#saveProjectBtn {
    background: linear-gradient(to right, #49c1a2, #56d798);
    color: #fff;
}

/* Content styles */
.content {
    flex: 1;
    padding: 2em;
}

#activeProjectTitle {
    font-weight: 500;
}

#addTaskBtn {
    background: linear-gradient(to right, #49c1a2, #56d798);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.todo-list li {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1em;
}

#newTaskInput,
#saveTaskBtn {
    display: yes;
}

#saveTaskBtn {
    background: linear-gradient(to right, #49c1a2, #56d798);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}
