/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --green-gradient: linear-gradient(to right, #49c1a2, #56d798);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

h2 {
    margin-bottom: 1em;
}

button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
}

ul {
    list-style: none;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #49c1a2;
}

/* Sidebar styles */
.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 2em;
    border-right: 1px solid #ddd;
}

#addProjectBtn,
#addTaskBtn {
    background: var(--green-gradient);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
}

.project-list li {
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.project-list li:hover {
    background-color: #ddd;
}

.project-list .active {
    padding: 8px;
    border: #49c1a2 2px solid;
    color: #49c1a2;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addProjectContainer {
    display: none;
}

#addBtnContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.input-btn {
    padding: 10px;
    width: 50%;
}

#cancelProjectBtn {
    background-color: #f44336;
    color: #fff;
}

#saveProjectBtn {
    background: var(--green-gradient);
    color: #fff;
}

/* Content styles */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.active-project {
    padding: 2em;
}

#projectTitleContainer{
    display: flex;
    justify-content: space-between;
}

#activeProjectTitle {
    font-weight: 500;
}

#addTaskBtn {
    background: var(--green-gradient);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    width: 46px;
    margin-bottom: 1em;
    }
    
    #activeProjectTasks li {
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid #dddddd00;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    }
    
    .task-header {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    }
    
    #activeProjectTasks li:hover {
    border-radius: 5px;
    background-color: rgba(73, 193, 162, 0.1);
    }
    
    .checkbox-section {
    display: flex;
    align-items: center;
    }
    
    .info-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .task-title {
        flex: 1;
    }

    .task-title:focus {
        outline: none;
    }

    .task-days-left {
        font-size: 12px;
        color: #999;
    }

    .task-days-left.overdue {
        color: #f44336;
    }
    
    .edit-section {
    display: flex;
    gap: 10px;
    }
    
    .edit-task-icon,
    .delete-task-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: end;
    width: 20px;
    height: 20px;
    }
    
    /* Add this rule to your CSS file */
    .task-item.completed .task-title {
    text-decoration: line-through;
    color: #999;
    animation: strikeThrough 0.3s linear;
    }
    
    @keyframes strikeThrough {
    0% {
    color: inherit;
    text-decoration: none;
    }
    100% {
    color: #999;
    text-decoration: line-through;
    }
    }
    
    .task-checkbox {
        appearance: none;
        background-color: #fff;
        border: 2px solid #49c1a2;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        outline: none;
        position: relative;
        width: 20px;
    }
    
    .task-checkbox.high-priority {
        border-color: #e74c3c;
    }
    
    .task-checkbox.medium-priority {
        border-color: #f1c40f;
    }
    
    .task-checkbox.low-priority {
        border-color: #3498db;
    }
    
    .task-checkbox:checked {
        background-image: var(--green-gradient);
        border: none;
    }
    
    .task-checkbox:checked::before {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        height: 10px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
    }
    
    
    #taskInput {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    }
    
    #plusIcon {
    font-size: 20px;
    width: 20px;
    color: #999;
    margin-right: 10px;
    }
    
    #newTaskInput {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    }
    
    #addTaskContainer {
    display: none;
    }
    
    #saveTaskBtn {
    background: var(--green-gradient);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
    }

/* Add these new styles to your CSS file */
.task-details {
    display: flex;
    width: 100%;
    padding-left: 30px;
    gap: 5px;
    margin-top: 10px;
}

.due-date-input {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.due-date-input:focus {
    border-color: #49c1a2;
    width: 100%;
}

.priorty-picker {
    font-size: 14px;
    width: 33%;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.priorty-picker:focus {
    border-color: #49c1a2;
}

.task-edit-buttons {
    display: flex;
    gap: 5px;
    padding-left: 30px;
    justify-content: end;
    margin-top: 5px;
    width: 100%;
}

.cancel-task-btn,
.save-task-btn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    transition: all 0.3s ease;
    width: 100%;
}

.cancel-task-btn:hover,
.save-task-btn:hover {
    transform: translateY(-2px);
}

.cancel-task-btn {
    background-color: #f44336;
    color: #fff;
}

.save-task-btn {
    background: var(--green-gradient);
    color: #fff;
}

    
    /* Footer styles */
    footer {
    color: #999;
    text-align: center;
    padding: 1em;
    }
    
    footer p {
    margin: 0;
    }
    
    
